name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    timeout-minutes: 20

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install TeX Live
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            texlive texlive-latex-extra texlive-fonts-recommended

      - name: Build pdf
        run: make kactl

      - name: Run compiles
        run: make test-compiles

      - name: Run stress tests
        run: make test

      - name: Upload pdf
        uses: actions/upload-artifact@v4
        with:
          name: kactl-pdf
          path: kactl.pdf
