name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v2

      - name: Install pdflatex
        run: sudo apt-get update && sudo apt-get install -y \
          texlive-latex-base texlive-latex-recommended texlive-latex-extra

      - name: Build pdf
        run: make kactl

      - name: Run compiles
        run: make test-compiles

      - name: Run stress tests
        run: make test

      - name: Upload pdf
        uses: actions/upload-artifact@v4
        with:
          name: kactl-pdf
          path: kactl.pdf
